DJANGO_SECRET_KEY=hms3-test-us-secret-key-delphix-demo-2026
ALLOWED_HOSTS=*
DEBUG=True
HMS_ENV=test
HMS_COUNTRY=US
HMS_CONTAINER_NAME=hms3_test
HOST_PORT=8013

# SQL Server Test VDB Connection (USA Masked VDB)
DB_HOST=10.0.0.10
DB_PORT=1433
DB_NAME=vhms3_us
DB_USER=sa
DB_PASSWORD=YourStrongPasswordHere
