DJANGO_SECRET_KEY=hms3-prod-br-secret-key-delphix-demo-2026
ALLOWED_HOSTS=*
DEBUG=True
HMS_ENV=prod
HMS_COUNTRY=BR
HMS_CONTAINER_NAME=hms3_prod
HOST_PORT=8012

# Conexão SQL Server Produção (Brasil dSource - LGPD)
DB_HOST=10.0.0.10
DB_PORT=1433
DB_NAME=hms3_br
DB_USER=sa
DB_PASSWORD=YourStrongPasswordHere
