DJANGO_SECRET_KEY=hms3-prod-ar-secret-key-delphix-demo-2026
ALLOWED_HOSTS=*
DEBUG=True
HMS_ENV=prod
HMS_COUNTRY=AR
HMS_CONTAINER_NAME=hms3_prod
HOST_PORT=8012

# Conexión SQL Server Producción (Argentina dSource)
DB_HOST=10.0.0.10
DB_PORT=1433
DB_NAME=hms3_ar
DB_USER=sa
DB_PASSWORD=YourStrongPasswordHere
