DJANGO_SECRET_KEY=hms3-prod-us-secret-key-delphix-demo-2026
ALLOWED_HOSTS=*
DEBUG=True
HMS_ENV=prod
HMS_COUNTRY=US
HMS_CONTAINER_NAME=hms3_prod
HOST_PORT=8012

# SQL Server Production Connection (USA dSource - HIPAA)
DB_HOST=10.0.0.10
DB_PORT=1433
DB_NAME=hms3_us
DB_USER=sa
DB_PASSWORD=YourStrongPasswordHere
